<h1>Lista wydarzeń</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Data</th>
      <th>Czas</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.date %></td>
        <td><%= event.time %></td>
        <td><%= link_to 'Pokaz', event, 'data-no-turbolink' => true %></td>
        <td><%= link_to 'Edytuj', edit_event_path(event) %></td>
        <td><%= link_to 'Usun', event, method: :delete, data: { confirm: 'Na pewno?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowe', new_event_path %>
