<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Imie" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Nazwisko" %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label "Adres" %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label "Szerokosc geograficzna" %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label "Dlugosc geograficzna" %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit "Zatwierdz"%>
  </div>
<% end %>
