<h1>Lista graczy</h1>

<table>
  <thead>
    <tr>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Adres</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.surname %></td>
        <td><%= player.address %></td>
        <td><%= link_to 'Pokaz', player %></td>
        <td><%= link_to 'Edytuj', edit_player_path(player) %></td>
        <td><%= link_to 'Usun', player, method: :delete, data: { confirm: 'Na pewno?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy gracz', new_player_path %>
