<p id="notice"><%= notice %></p>

<p>
  <strong>Imie:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @player.surname %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @player.address %>
</p>

<p>
  <strong>Szerokosc:</strong>
  <%= @player.latitude %>
</p>

<p>
  <strong>Dlugosc:</strong>
  <%= @player.longitude %>
</p>

<%= link_to 'Edytuj', edit_player_path(@player) %> |
<%= link_to 'Powrot', players_path %>
