<%= form_for(@field) do |f| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
      <% @field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nazwa" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Adres" %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label "Opis" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Liczba koszy" %><br>
    <%= f.text_field :number_of_baskets %>
  </div>
  <div class="field">
    <%= f.label "Szerokosc geograficzna" %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label "Dlugosc geograficzna" %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit "Zatwierdz" %>
  </div>
<% end %>
