<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @field.name %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @field.address %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @field.description %>
</p>

<p>
  <strong>Liczba koszy:</strong>
  <%= @field.number_of_baskets %>
</p>

<p>
  <strong>Szerokosc:</strong>
  <%= @field.latitude %>
</p>

<p>
  <strong>Dlugosc</strong>
  <%= @field.longitude %>
</p>

<%= link_to 'Edytuj', edit_field_path(@field) %> |
<%= link_to 'Powrot', fields_path, 'data-no-turbolink' => true %>
