<!DOCTYPE html>
<html>
<head>
  <title>GdzieGrac</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Index", home_index_path, 'data-no-turbolink' => true %>
<%= link_to "Wydarzenia", events_path, 'data-no-turbolink' => true %>
<%= link_to "Boiska", fields_path, 'data-no-turbolink' => true %>
<%= link_to "Gracze", players_path, 'data-no-turbolink' => true %>
<%= yield %>

</body>
</html>
